.reviews {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #2196f3;
    margin-right: 30px;
    font-weight: bold;
  }
  
  .cast {
    display: inline-block;
    padding: 8px 28px;
    border-radius: 10px;
    border: 1px solid #2196f3;
    font-weight: bold;
  }
  
  .reviews:hover,
  .cast:hover {
    background-color: #2196f3;
    color: white;
  }